
<h1> Bienvenue sur le générateur de formulaires d'Agria Grand Est  </h1>

<br/><br/>
<div class="col-md-2">
    
</div>

<div class="col-md-2">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class= "col-xs-8 .col-md-8">

                <div class="container">
                    <div class="row">
                        <div class="text-left-xs text-right-md"><%= link_to new_form_path do %>Créer un formulaire</div><% end %>
                    </div>
                </div>
        </div>
        </div>
    </div>   
</div>

<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Formulaire 1
        </div>
    
        <div class="panel-body">
            <div class= "col-xs-8 .col-md-8">
                <div class="container">
                Formulaire crée par ..
                Le ...
                </div>    
        </div>
        </div>
    </div>   
</div>

<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Formulaire 2
        </div>
    
        <div class="panel-body">
            <div class= "col-xs-8 .col-md-8">
                <div class="container">
                Formulaire crée par ..
                Le ...
                </div>    
        </div>
        </div>
    </div>   
</div>

