
<div class="text-center">
    <h1> Bienvenue sur le générateur de formulaires d'Agria Grand Est  </h1>
</div>

<br/><br/>

<div class="col-md-2">
    
</div>

<div class="col-md-5">
    <h5> Ce site web a été développé par les étudiants de Telecom Nancy dans le cadre du projet industriel
    pour Agria Grand Est. Cette application web a pour but de ...</h5>
    
    <%= link_to 'Accéder à la plateforme', formulaires_path, class:"btn btn-primary" %>
</div>
<br/><br/><br/><br/>
<br/><br/>











