
<div class="text-center">
    <h1> Bienvenue sur le générateur de formulaires d'Agria Grand Est  </h1>
</div>

<br/><br/>

<div class="col-md-2">
    
</div>


<div class="col-md-5" >
    <h4> Ce site web a été développé par les étudiants de Telecom Nancy dans le cadre du projet industriel
    pour l'entreprise Agria Grand Est.</h4>
    <h4> Cette application web permet aux administrateurs d'Agria de créer des formulaires, de les paramétrer
    et de les envoyer afin d'avoir des informations qualitatives et quantitatives de leurs partenaires.</h4>
    
    <%= link_to 'Accéder à la plateforme', formulaires_path, class:"btn btn-primary" %>
</div>
<div class="col-md-4">
     <%= image_tag "Tncy.jpg",:size => "160x160" %> 
</div>

<br/><br/><br/><br/>
<br/><br/>











