<div class="container-fluid">

<div class="text-center">
    <h1> Bienvenue sur le générateur de formulaires d'Agria Grand Est  </h1>
</div>

<br/><br/>

<div class="col-md-2">
      <div class="col-xs-9 col-xs-offset-5 col-sm-9 col-sm-offset-5 col-md-7 col-md-offset-3">
      </div>
</div>


<div class="col-xs-9 col-xs-offset-2 col-md-6 col-md-offset-1" >
    <h4> Ce site web a été développé par les étudiants de Telecom Nancy dans le cadre du projet industriel
    pour l'entreprise Agria Grand Est.</h4>
    <h4> Cette application web permet aux administrateurs d'Agria de créer des formulaires, de les paramétrer
    et de les envoyer afin d'avoir des informations qualitatives et quantitatives de leurs partenaires.</h4>
    
</div>
<div class="col-xs-9 col-xs-offset-5 col-md-8 col-md-offset-5" >
    <%= link_to 'Accéder à la plateforme', formulaires_path, class:"btn btn-primary" %>
</div>
<div class="col-sm-5 col-sm-offset-5 col-md-6 col-md-offset-5">
    <br/><br/>
     <%= image_tag "Tncy.jpg",:size => "160x160" %> 
</div>

<br/><br/><br/><br/>
<br/><br/>
</div>

<%= pie_chart ChartTest.group(:id).count %>










