<%= render 'form' %>
<div class="clearfix"></div>

<ul class="pager">
    <li class="Show"><%= link_to 'Show', @formulaire %> </li>
    <li class="Retour"><%= link_to 'Back', formulaires_path %></li>
</ul>

