@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "toastr";


body {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
}
.navbar-default {
    background-color: #F0F8FF;
    //border-color: #00BFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.navbar { height: 10em; }

.navbar-right {
    margin-right: 25px;
}
.navbar-left {
    margin-left: 25px;
}

.navbar-header {
    margin-top: 30px;
}

.collapse{
    margin-top : 35px;
}