<footer class="page-footer" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <ul class="nav navbar-nav navbar-left">
                <li> © Telecom Nancy - Agria Grand Est</li>
                </ul>
            </div>
            <div class="col-md-offset-5 col-md-1 col-sm-offset-4 col-sm-2">
                Contact Us <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</footer>

