<footer id="foot1" class="footer navbar-fixed-bottom">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-bottom" id="footer1">
        <ul class="nav navbar-nav navbar-left">
                <li> <%= link_to "@2017 Hakim GHANEM", "#" %></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
                <li> <%= link_to "Contact Us", "#" %></li>
        </ul>
        </nav>
    </div>
</footer>

