<footer class="page-footer" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <ul class="nav navbar-nav navbar-left">
                <li> @ Copyright Sofian CHOUDER. </li>
                </ul>
            </div>
            <div class="col-md-2">
                Follow us on Twitter <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</footer>

