<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-bottom" id="footer1">

            <ul>
                <li> <%= link_to "Contact Us", "#" %></li>
                
            </ul>
        </nav>
    </div>
</footer>